dia-01/.vs/dia-01/FileContentIndex/4763ec7a-ff44-41a3-8066-4b12e35bddd2.vsidx
dia-01/.vs/dia-01/v17/.wsuo
dia-01/.vs/dia-01/v17/DocumentLayout.json
dia-01/.vs/slnx.sqlite
dia-01/.vs/VSWorkspaceState.json
dia-02/js/script.js
